<!DOCTYPE html>
<html>
<head>
    <title>Cadastro realizado</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Cadastro efetuado!</h1>
        <p>{{ .message }}</p>
        <p>Seus dados foram inseridos com sucesso.</p>
        <a href="/" class="btn btn-primary">Voltar pro cadastro</a>
        <a href="/dashboard" class="btn btn-primary">Área do usuário</a>
    </div>
</body>
</html>
